*{
	margin:0;
	padding: 0;	
}
/*h1,h2,h3,h4,h5,h6,p,a,button,ul,li{
	font-family: 'Poppins', sans-serif;
}*/
.main{
	background-color: #ff871c;
	width: 100%;
	height: 480px;
	overflow: hidden;
}
.first-box{
	width: 100%;	
	height: 10%;
}


.header{
    width: 50%;
    height: 99%;
    float: left;   
}
.fa-atlas{
    width: 11%;
    display: inline-block;
    font-size: 74%;
    color: #fff;
}
.header h2{
	padding:1.5% 35%;
	color: #fff;
	font-size: 27px;

}


.nav-bar{
	width: 50%;
	height: 99%;
	float: right;
}
.nav-bar ul li{
	list-style-type: none;
	float: left;
	padding: 2.2% 2.1%;	
}
.nav-bar ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 13px;
}




.second-box{
	width: 100%;
}
.about{
	width: 32.5%;
	float: left;
	padding-top:6%;
	padding-left: 17.5%;
	color:#fff;	
}

.about h2{
	font-size: 35px;
	
}
.about p{
	font-size: 13px;
}
.about a{
	border:1px solid #fff;
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 20px;
	background-color: #fff;
	color: #ff871c;
}


.banner{
	width: 50%;
	float: right;
}
.banner img{	
	width: 33%;
	margin-top: 14%;
}

/*second-container*/


.second-container {
   width: 100%;
   height: 180px;
   background-color: #fff;

}
.second-container h2{
	color: #ff871c;
	font-size: 30px;
	margin-bottom: 7px;
	margin-top: 5px;
}
.all-boxes{
	width: 60%;
	height: 180px;
	margin: auto;
}
.box{
	width: 16%;
	height: 66%;
	float: left;
	border:1px solid #ddd;
	font-size: 18px;
	text-align: center;
	margin-right: 4%;
	margin-top: 4%;
	overflow: hidden;
}
.box i{
	margin-top: 10px;
	font-size: 25px;
	color: #ff871c;
}
.box11{
	margin-left: 11%;
}



/*third container.........*/

.third-container{
	width: 100%;
	background-color: #ddd;
	height: 650px;
}

.overview{
	width: 100%;
	height: 180px;
	text-align: center;
	
}	
.overview h2{
	padding-top: 60px;
}
.overview p{
	padding-top:17px;
	font-size: 13px;
}
.overview hr.one{
	width: 80px;
    margin: auto;
    height: 2px;
    border: none;
    background:#ff871c; 
}


.third-box1{
	width: 60%;
	height: 200px;
    margin: auto;
   
}
.chapter{
	float: left;
	border: 1px solid #ddd;
	background-color: #fff;
	margin-right: 3.5%;
	text-align: center;
	width: 20%;
    height: 81%;
    font-size: 13px;
    overflow: hidden;
}
.third-box1 .one{
	margin-left: 3.5%;
}
.chapter i{
	font-size: 40px;
	color: #ff871c;
	padding-top: 5px;
}



.third-box2{
	width: 60%;
	height: 200px;
    margin: auto;
}
.chapters{
	float: left;
	border: 1px solid #ddd;
	background-color: #fff;
	margin-right: 3.5%;
	text-align: center;
	width: 20%;
    height: 81%;
    font-size: 13px;
    overflow: hidden;
}
.third-box2 .five{
	margin-left: 3.5%;
}
.chapters i{
	font-size: 40px;
	color: #ff871c;
	padding-top: 5px;
}


/*fourth container............*/



.fourth-container{
	width: 100%;
	height: 680px;
	background-color: #ff871c;
}
.video-review{
    width: 100%;
	height: 220px;
	text-align: center;
}
.video-review h2{
	padding-top: 90px;
}
.video-review p{
	padding-top:17px;
	font-size: 13px;
}
.video-review hr.two{
	width: 80px;
    margin: auto;
    height: 2px;
    border: none;
    background:#fff;    
}


.fourth-box1{
	width: 100%;
	height: 380px;
	
}
.frame{
	width: 46%;
	height: 380px;
	margin: auto;
}
.frame iframe{
	width:100%; 
	height:375px;
}
/*fifth container............*/

.fifth-container{
	width: 100%;
	height: 570px;
	background-color: #fff;
}
.about-author{
    width: 100%;
	height: 150px;
	text-align: center;
}
.about-author h2{
	padding-top: 60px;
}
.about-author hr.three{
	width: 80px;
    margin: auto;
    height: 2px;
    border: none;
    background:#ff871c; 
}
.figth-box1{
	width: 100%;
	height: 370px;
}
.author-img{
	width: 50%;
	float: left;
}
.author-img img{
	width:60%;
	height:352px;
	padding-left: 39%;
}


.author-details{
	width: 50%;
	float: left;
}
.author-details h2{
	padding-top: 3%;
    font-size: 21px;
    padding-left: 1.5%;
}
.author-details hr.four{
	width: 57%;
	margin-left: 1.5%;
	height: 2px;
	border: none;
	background: #ddd;
}
.author-details p{
	font-size: 13px;
	padding-top: 3%;
	padding-left: 1.5%;
}
.author-details img{
	width: 23%;
	height: 90px;
	padding-left: 1.5%;
}
.icons{
	padding-left: 1.5%;	
}
.icons a.author-icon {	
    margin-right: 3px;		
	font-size: 29px;
	display: inline-block;
	color: #ff871c;
}

/*sixth container..........*/


.sixth-container{
	width: 100%;
	height: 600px;
	background-color: #eee;
}
.Pricing-plan{
	width: 100%;
	height: 210px;
	text-align: center;	
}
.Pricing-plan h2{
	padding-top: 6%;
}
.Pricing-plan p{
	padding-top:17px;
	font-size: 13px;
}
.Pricing-plan hr.five{
	width: 80px;
    margin: auto;
    height: 2px;
    border: none;
    background:#ff871c;    
}


.all-plan{
	width: 100%;
	
}
.plan-container{
	width: 58%;
	height: 320px;
	margin: auto;
	padding-left: 2%;
	overflow: hidden;
}
.plan{
	float: left;
	width: 30%;
	height: 320px;	
	text-align: center;
	margin-right:3%;
}
.plan h5{
	padding-top: 20px;
}
.plan h2{
	font-size: 40px;
	border-bottom: 1px solid #ddd;
}
.plan h2 small{
	font-size: 15px;
}
.plan p{
	font-size: 14px;
}
.plan a{
	border:1px solid black;
	text-decoration: none;
	padding: 8px 14px;
	border-radius: 20px;
	background-color: #fff;
	color: black;
	font-size: 13px;
}
.box1{
	background-color: #fff;
}
.box22{
	background-color: #ff871c;  
}
.box22 a{
	border-style: none;
}
.box3{
	background-color: #fff;
}

/*seventh conatiner..........*/

.seventh-container{
	width: 100%;
	height: 480px;
	background-image: url(img_5972wm.jpg);
	background-repeat:no-repeat;
	background-attachment: fixed;
    background-size: cover;
	text-align: center;
	color: #fff;
}
.seventh-container h2{
    padding-top: 80px;
}
.seventh-container hr.six{
	width: 80px;
    margin: auto;
    height: 2px;
    border: none;
    background:#ff871c; 
}
.seventh-container p{
	font-size: 13px;
}
.seventh-container img{
	width: 80px;
	height: 80px;
	border-radius: 50%;
}
.seventh-container input{
	margin-right: 7px;
}

/*eighth container............*/


.eighth-class{
	width: 100%;
	height: 550px;
	text-align: center;
}
.eighth-class h2{
	padding-top: 70px;
	font-size: 26px;
}
.eighth-class hr.seven{
    width: 80px;
    margin: auto;
    height: 2px;
    border: none;
    background:#ff871c; 
}
.eighth-class p{
	font-size: 13px;
}
input[type="text"]{
	width: 420px;
	padding: 7px 10px;
	border:1px solid #ddd;
	border-radius: 30px;
}
input[type="email"]{
	width: 420px;
	padding: 7px 10px;
	border:1px solid #ddd;
	border-radius: 30px;
}
.eighth-class textarea{
	width: 420px;
	height: 130px;
	padding: 7px 10px;
	border:1px solid #ddd;
	border-radius: 20px;
}
input[type="submit"]{
	width: 100px;
	height: 32px;
	border-radius: 25px;
	border-style: none;
	background-color: #ff871c;
	color: #fff;
	font-size: 9px;
	letter-spacing: 1px;
}


/*nineth container......*/



.nineth-container{
	width: 100%;
	height: 350px;
}

/*last container..........*/

.last-container{
	width: 100%;
	height: 220px;
	text-align: center;
}
.icon{
	margin-right: 3px;		
	font-size: 29px;
	display: inline-block;
	color: #ff871c;
}
.All-icons{
	padding-top: 20px;
}
.last-container p{
	font-size: 13px;
}